@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-grid';

@custom-media --viewport-big (width >= 36rem);
@custom-media --viewport-small (width <= 35.9999rem);

.header {
  font-size: 1rem;
  position: relative;
  background-repeat: no-repeat;
}

.header__group-text {
  display: flex;
  flex-direction: column;
  max-width: calc(1rem*30);
  text-align: center;
}
/* We will use the image as background on mobile, so let's hide the <img> */
.header__img {
  display: none;
}

.header__title {
  font-size: var(--text-size-step-5);
  line-height: var(--text-line-height-body-bold-on-step-5);
  letter-spacing: var(--text-letter-spacing-body-bold-on-step-5);
  font-weight: bold;
  font-family: 'Halifax Bold';
  color: var(--header__title-color, var(--color-thimphu));
  order: 2;
  margin: 0;
}

.header__flytitle {
  font-size: var(--text-size-step--1);
  font-weight: lighter;
  font-family: 'Halifax Regular';
  color: var(--header__flytitle-color, var(--color-economist));
  order: 1;
  margin-bottom: var(--grid-spacing-mouse);
  background: color(var(--color-thimphu) alpha(55%));
  padding: var(--header__flytitle-padding-h, var(--grid-spacing-mouse)) var(--header__flytitle-padding-v, var(--grid-spacing-fox));
}

.header__text {
  font-size: var(--text-size-step-0);
  line-height: var(--text-line-height-body-light-on-step-0);
  font-weight: lighter;
  font-family: 'Halifax Light';
  color: var(--header__text-color, var(--color-thimphu));
  order: 3;
  margin-top: var(--header__text-margin-top, 0);
  flex: 1;
  vertical-align: middle;
}
.header__additional-element {
  order: 4;
}

@media (--viewport-small) {
  .header {
    padding:  var(--header-padding-top, 150px) var(--grid-gutter-m) var(--header-padding-bottom, var(--grid-spacing-hedgehog));
    height: var(--header-height, 430px);
    flex: 1;
    display: flex;
  }
  .header__title {
    padding: var(--header__title-padding-top, var(--grid-spacing-rabbit)) var(--header__title-padding-v, 15%) var(--header__title-padding-bottom, var(--grid-spacing-fox));
  }
  .header__group-text {
    text-align: center;
  }
  .header__flytitle {
    margin: auto;
  }
  .header__additional-element {
    margin-bottom: var(--header__additional-element-margin-top, 0);
  }
}
/* Desktop version */
@media (--viewport-big) {
  .header {
    flex-direction: row-reverse;
    display: flex;
    background-image: none !important;
    height: var(--header-viewport-big-height, 300px);
    padding:  var(--header-padding-top, var(--grid-spacing-hedgehog)) var(--grid-gutter-m) var(--header-padding-bottom, var(--grid-spacing-hedgehog));
  }

  .header__group-text {
    text-align: left;
    align-items: flex-start;
  }

  .header__text {
    width: 100%;  /* Fix for IE */
  }

  .header__title {
    margin-top: 0;
  }

  .header__group-text,
  .header__group-image {
      flex: 1;
  }

  .header__group-image {
      position: relative;
  }

  .header__img {
    display: block;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    left: auto;
    max-width: 100%;
  }
  .header__title {
    padding: var(--header__title-padding-top, var(--grid-spacing-mouse)) 0 var(--header__title-padding-bottom, var(--grid-spacing-fox));
  }
}
